{% extends "Parts/BASE.html" %}
{% load static %}
{% block body %}

    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>About Us</h1>
            <ul class="page-depth">
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'about_us' %}">About Us</a></li>
            </ul>
        </div>
    </section>
    <!-- End page-banner-section -->

    <!-- about-section
        ================================================== -->
    <section class="about-section">
        <div class="container">
            <div class="about-article">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="{% static 'images/designforchild.png' %}" alt="">
                    </div>
                    <div class="col-lg-6">
                        <div class="article-content" style="border: 0">
                            <i class="fa fa-file-text-o"></i>
                            <h2>Why Phi</h2>
                            <h1>It's designed for your child</h1>
                            <p> Phi-india was born with a vision to help students learn math the right way and overcome
                                the difficulties they face due to traditional blackboard learning..</p>
                            <a class="text-link" href="{% url 'course_list' %}">See our Courses</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-article">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="article-content right-align" style="border: 0">
                            <i class="fa fa-university"></i>
                            <h2>HOW IS PHI DIFFERENT?</h2>
                            <h1>Teaching the right way</h1>
                            <p>We expose children to a learning system that enables and encourages them to think the Why
                                behind the What of math concepts.</p>
                            <a class="text-link" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <img src="{% static 'images/how-different.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="about-article">
                <div class="row">
                    <div class="col-lg-6">
                        <img src="{% static 'images/success.png' %}" alt="">
                    </div>
                    <div class="col-lg-6">
                        <div class="article-content" style="border: 0">
                            <i class="fa fa-umbrella"></i>
                            <h2>WHAT HAVE WE ACHIEVED?</h2>
                            <h1>Phi students excel in subject at school and beyond</h1>
                            <p>We do not train children to learning by force and harshness, but direct them to it by
                                what amuses their minds, so that they may be better able to discover with accuracy the
                                peculiar bent of the genius of each.</p>
                            <a class="text-link" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End about section -->

    <!-- statistic-section
        ================================================== -->
    <section class="statistic-section">
        <div class="container">
            <div class="statistic-box">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="statistic-post">
                            <span class="timer" data-from="0" data-to="321"></span>
                            <p>cases <br> completed</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="statistic-post">
                            <span class="timer" data-from="0" data-to="200"></span>
                            <p>cases <br> completed</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="statistic-post">
                            <span class="timer" data-from="0" data-to="135"></span>
                            <p>cases <br> completed</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="statistic-post">
                            <span class="timer" data-from="0" data-to="28"></span>
                            <p>cases <br> completed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End statistic section -->

    <!-- clients-section
        ================================================== -->
    <section class="clients-section">
        <div class="container">
            <div class="clients-box">
                <h1>Our Partners</h1>
                <p>Sed vehicula consectetur rutrum</p>
                <ul class="clients-list">
                    <li>
                        <img src="images/clients/logo-client-1.png" alt="">
                        <a href="https://www.neofox.in/"><span>NeoFox</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End clients section -->
{% endblock %}