{% extends 'Parts/BASE.html' %}
{% block body %}
    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>Checkout</h1>
            <ul class="page-depth">
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'course_list' %}">Courses</a></li>
                <li><a href="{% url 'course_detail' course.slug %}">{{ course.name }}</a></li>
                <li><a href="{% url 'course_price_select' course.slug %}">Price Selection</a></li>
            </ul>
        </div>
    </section>
    <!-- End page-banner-section -->

    <!-- cart-section
        ================================================== -->
    <section class="cart-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-box">
                        <h2>Billing details</h2>
                        <form class="billing-details" method="post" id="user-form">
                            {% csrf_token %}
                            {{ form.course }}
                            {{ form.course_mode }}
                            <div class="row">
                                <div class="col-lg-6">
                                    <label for="first-name">First Name*</label>
                                    {{ form.first_name }}
                                </div>
                                <div class="col-lg-6">
                                    <label for="last-name">Last Name*</label>
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <label for="street-name">address *</label>
                            {{ form.address }}
                            <label for="city-name">Town / City*</label>
                            {{ form.city }}
                            <label for="state-name">State / Country*</label>
                            {{ form.state }}
                            <label for="phone-name">Phone*</label>
                            {{ form.phone }}
                            <label for="email-address">Email Address*</label>
                            {{ form.email }}
                            <h2>Additional information</h2>
                            <label for="notes">Order notes (optional)</label>
                            {{ form.additional }}
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="widget cart-widget">
                            <h2>Your order</h2>
                            <table>
                                <tbody>
                                <tr>
                                    <td>Product</td>
                                    <td>Total</td>
                                </tr>
                                <tr>
                                    <td class="name-pro">{{ course.name }}</td>
                                    <td>{{ price }}</td>
                                </tr>
                                <tr class="order-total">
                                    <th>Tax:</th>
                                    <td>{{ tax }}</td>
                                </tr>
                                <tr class="order-total">
                                    <th>Total</th>
                                    <td class="total-price">{{ total }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <p>Payment Gateway Under Const.</p>

                            <a href="#" class="checkout-button">
                                <input style="background-color: transparent; border: 0 !important;cursor: pointer" type="submit" form="user-form" value="Submit">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End cart section -->
{% endblock %}