{% extends 'Parts/BASE.html' %}
{% load static %}


{% block body %}
    <!-- map section -->
    <div id="map"></div>
    <!-- end map section -->
    <!-- contact-section
        ================================================== -->
    <section class="contact-section">
        <div class="container">
            <div class="contact-box">
                <h1>Get in Touch</h1>
                <p>Someone finds it difficult to understand your creative idea? There is a better visualisation. Share
                    your views with us, we’re looking forward to hear from you.</p>
                <form id="contact-form" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="name">Your Name (required)</label>
                            {{ form.name }}
                        </div>
                        <div class="col-md-6">
                            <label for="mail">Your Email (required)</label>
                            {{ form.email }}
                        </div>
                    </div>
                    <label for="tel-number">Your Phone Number</label>
                    {{ form.phone }}
                    <label for="comment">Your Message (required)</label>
                    {{ form.message }}
                    <button type="submit" id="submit_contact">Submit Message</button>
                    <div id="msg" class="message"></div>
                </form>
            </div>
        </div>
    </section>
    <!-- End contact section -->
    {% include 'boilerplates/LOCATION.html' %}

{% endblock %}