{% extends 'Parts/BASE.html' %}
{% block body %}

    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>{{ course.name }}</h1>
            <ul class="page-depth">
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'course_list' %}">Courses</a></li>
                <li><a href="{% url 'course_detail' course.slug %}">{{ course.name }}</a></li>
            </ul>
        </div>
    </section>
    <!-- End page-banner-section -->

    <!-- single-course-section
        ================================================== -->
    <section class="single-course-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    <div class="single-course-box">

                        <!-- single top part -->
                        <div class="product-single-top-part">
                            <div class="product-info-before-gallery">
                                <div class="course-author before-gallery-unit">
                                    <div class="icon">
                                        <i class="material-icons">account_box</i>
                                    </div>
                                    <div class="info">
                                        <span class="label">Teacher</span>
                                        <div class="value">
                                            <a href="{% url 'teacher_detail' course.teacher.slug 'show' %}">{{ course.teacher.name }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-category before-gallery-unit">
                                    <div class="icon">
                                        <i class="material-icons">bookmark_border</i>
                                    </div>
                                    <div class="info">
                                        <span class="label">Category</span>
                                        <div class="value">
                                            <a href="{% url 'course_category' course.category.slug %}">{{ course.category }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-rating before-gallery-unit">
                                    <div class="star-rating has-ratings">
                                        <span class="rating">{{ course.ratings }}</span>
                                        <span class="votes-number">{{ course.ratings_count }} Votes</span>
                                    </div>
                                </div>
                            </div>
                            <div class="course-single-gallery">
                                <img src="{{ course.image.url }}" alt="{{ course.name }} Image">
                            </div>

                        </div>

                        <!-- single course content -->
                        <div class="single-course-content">
                            <h2>What Will I Learn?</h2>
                            <p>{{ course.learn }}</p>
                            <h2>Learning Objectives</h2>
                            <div class="row">
                                {% for objectives in course.objectives_list %}
                                    <div class="col-md-6">
                                        {% for objective in objectives %}
                                            <ul class="list">
                                                <li>{{ objective.name }}</li>
                                            </ul>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                            <h2>Prior Knowledge</h2>
                            <p>{{ course.requirements }}.</p>
                            <!-- course section -->
                            {% for syllbaus in course.syllabus_list %}
                                <div class="course-section">
                                    <h3>{{ syllbaus.head }}</h3>
                                    <div class="panel-group">
                                        {% for sub in syllbaus.sub_heading %}
                                            <div class="course-panel-heading">
                                                <div class="panel-heading-left">
                                                    <div class="course-lesson-icon">
                                                        {% if "cert" in sub %}
                                                            <i class="fa fa-certificate"></i>
                                                        {% elif "iot" in sub %}
                                                            <i class="fa fa-microchip"></i>
                                                        {% else %}
                                                            <i class="fa fa-play-circle-o"></i>
                                                        {% endif %}
                                                    </div>
                                                    <div class="title">
                                                        <h4>{{ forloop.parentloop.counter }}.{{ forloop.counter }}
                                                            : {{ sub }} </h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-content">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- end course section -->

                        </div>
                        <!-- end single course content -->

                        <!-- course reviews -->
                        <div class="course-reviews">
                            <div class="course-review-title">
                                <h3>
                                    <i class="material-icons">chat_bubble_outline</i>
                                    Student Reviews
                                </h3>
                            </div>
                            <div class="course-reviews-inner">
                                <div class="ratings-box">
                                    <div class="rating-average">
                                        <p>Average rating</p>
                                        <div class="average-box">
                                            <span class="num">{{ course.ratings }}</span>
                                            <span class="ratings">
                                                {% if course.ratings > 1 %}
                                                    <i class="fa fa-star"></i>
                                                {% endif %}
                                                {% if course.ratings > 2 %}
                                                    <i class="fa fa-star"></i>
                                                {% endif %}
                                                {% if course.ratings > 3 %}
                                                    <i class="fa fa-star"></i>
                                                {% endif %}
                                                {% if course.ratings > 4 %}
                                                    <i class="fa fa-star"></i>
                                                {% endif %}
                                                <i class="fa fa-star-half-o"></i>
												</span>
                                            <span class="txt">{{ course.ratings_count }} Ratings</span>
                                        </div>
                                    </div>
                                    <div class="detailed-rating">
                                        <p>Detailed Rating</p>
                                        <div class="detailed-box">
                                            <ul class="detailed-lines">
                                                {% for rating in course.rating_group %}
                                                    <li>
                                                        <span>{{ rating.rating }} Stars</span>
                                                        <div class="outer">
                                                            <span class="inner-fill"
                                                                  style="width: {{ rating.star }}0%"></span>
                                                        </div>
                                                        <span>{{ rating.star }}</span>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <ul class="comments">
                                    {% for review in course.reviews_list %}
                                        <li>
                                            <div class="image-holder">
                                                <img src="#" alt="Avartar">
                                            </div>
                                            <div class="comment-content">
                                                <h2>
                                                    {{ review.name }}
                                                    <span class="rating">
                                                        {% if review.rating > 1 %}
                                                            <i class="fa fa-star"></i>
                                                        {% endif %}
                                                        {% if review.rating > 2 %}
                                                            <i class="fa fa-star"></i>
                                                        {% endif %}
                                                        {% if review.rating > 3 %}
                                                            <i class="fa fa-star"></i>
                                                        {% endif %}
                                                        {% if review.rating > 4 %}
                                                            <i class="fa fa-star"></i>
                                                        {% endif %}

                                                        <i class="fa fa-star-o"></i>
													</span>
                                                </h2>
                                                <p>{{ review.review }}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <p> {{ error }} </p>
                                        {% endfor %}
                                    {% endfor %}
                                {% endif %}
                                <form class="add-review" method="post">
                                    <h1>Add a Review</h1>
                                    <label>Your rating</label>
                                    {{ form.rating }}
                                    <label>Your Review</label>
                                    {{ form.review }}

                                    <label>Your Name</label>
                                    {{ form.name }}

                                    <label>Your E-mail</label>
                                    {{ form.email }}
                                    {{ form.course }}
                                    {% csrf_token %}
                                    <button type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                        <!-- end course reviews -->

                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="widget course-widget">
                            <p class="price">
                                <span class="price-label">Price</span>
                                <span class="amount"><del>Rs. {{ course.fake_cost }}</del> Rs. {{ course.cost }}</span>
                            </p>
                            <a class="button-one" href="{% url 'course_price_select' course.slug %}">Take this
                                course</a>
                            <div class="product-meta-info-list">
                                <h3>Course Features</h3>
                                <div class="meta-info-unit">
                                    <div class="icon">
                                        <i class="material-icons">language</i>
                                    </div>
                                    <div class="value">Language: English/Hindi</div>
                                </div>
                                <div class="meta-info-unit">
                                    <div class="icon">
                                        <i class="material-icons">access_time</i>
                                    </div>
                                    <div class="value">{{ course.duration }}+ hours</div>
                                </div>
                                <div class="meta-info-unit">
                                    <div class="icon">
                                        <i class="material-icons">playlist_add_check</i>
                                    </div>
                                    <div class="value">{{ course.lessons }} Lessons</div>
                                </div>
                                <div class="meta-info-unit">
                                    <div class="icon">
                                        <i class="material-icons">spellcheck</i>
                                    </div>
                                    <div class="value">Study Level: {{ course.level }}</div>
                                </div>
                                <div class="meta-info-unit">
                                    <div class="icon">
                                        <i class="material-icons">terrain</i>
                                    </div>
                                    <div class="value">Certificate of Completion</div>
                                </div>
                            </div>
                            <ul class="share-list">
                                <li><span>Share: (*still working)</span></li>
                                <li><a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="widget profile-widget">
                            <div class="top-part">
                                <img src="{{ course.teacher.photo.url }}" alt="{{ course.teacher.name }}">
                                <div class="name">
                                    <h3>{{ course.teacher.name }}</h3>
                                    <span class="job-title">{{ course.teacher.subject }}</span>
                                </div>
                            </div>
                            <div class="content">
                                <p>{{ course.teacher.biography }}</p>
                                <a href="{% url 'teacher_detail' course.teacher.slug 'show' %}" class="text-link">View
                                    full profile</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End single-course section -->
{% endblock %}