{% extends 'Parts/BASE.html' %}
{% load static %}
{% block body %}
    <!-- page-banner-section
         ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>Courses</h1>
            <ul class="page-depth">
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'course_list' %}">Courses</a></li>
            </ul>
        </div>
    </section>
    <!-- End page-banner-section -->

    <!-- courses-section
        ================================================== -->
    <section class="courses-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="courses-top-bar">
                        <div class="courses-view">
                            {% if mode == 'list' %}
                                <a href="{% url 'course_grid' %}" class="grid-btn ">
                                    <i class="fa fa-th-large" aria-hidden="true"></i>
                                </a>
                                <a href="{% url 'course_list' %}" class="grid-btn active">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                            {% if mode == 'grid' %}
                                <a href="{% url 'course_grid' %}" class="grid-btn active">
                                    <i class="fa fa-th-large" aria-hidden="true"></i>
                                </a>
                                <a href="{% url 'course_list' %}" class="grid-btn">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                            <span id="result-count"></span>
                        </div>
                        <div class="search-course">
                            <input onkeyup="search(this)" name="search" id="search_course"
                                   placeholder="Search Courses..."/>
                            <label for="search_course"></label>
                        </div>
                    </div>
                    {% if mode == 'grid' %}
                        <div class="row"> {% endif %}
                    {% for course in courses %}
                        {% if mode == 'grid' %}
                            <div class="col-lg-4 col-md-6 col-sm-6 course-filter" name="{{ course.name }}">
                            <div class="course-post " href="{% url 'course_detail' course.slug %}">
                        {% else %}
                            <div class="course-post list-style course-filter" name="{{ course.name }}
                            href="{% url 'course_detail' course.slug %}">
                        {% endif %}
                    <div class="course-thumbnail-holder">
                        <a href="{% url 'course_detail' course.slug %}">
                            <img src="{{ course.image.url }}" alt="Course Image">
                        </a>
                    </div>
                    <div class="course-content-holder">
                        <div class="course-content-main">
                            <h2 class="course-title">
                                <a href="{% url 'course_detail' course.slug %}">{{ course.name }}</a>
                            </h2>
                            <div class="course-rating-teacher">
                                <div class="star-rating has-ratings" title="Rated {{ course.ratings }} out of 5">
											<span style="width:100%">
												<span class="rating">{{ course.ratings }}</span>
												<span class="votes-number">{{ course.ratings_count }} Votes</span>
											</span>
                                </div>
                                <a href="{% url 'teacher_detail' course.teacher.slug 'show' %}"
                                   class="course-loop-teacher">{{ course.teacher.name }}</a>
                            </div>
                            <p>{{ course.summary }}…</p>
                        </div>
                        <div class="course-content-bottom">
                            <div class="course-students">
                                <i class="material-icons">group</i>
                                <span>64</span>
                            </div>
                            <div class="course-price">
                                <span>Rs. {{ course.cost }}</span>
                            </div>
                        </div>
                    </div>

                    {% if mode == 'grid' %}</div></div>{% else %}</div>{% endif %}
                    {% endfor %}
                    {% if mode == 'grid' %} </div> {% endif %}

            </div>

            <div class="col-lg-4">
                <div class="sidebar">

                    <div class="category-widget widget">
                        <h2>Product categories</h2>
                        <ul class="category-list">
                            {% for type in category %}
                                <li><a href="{% url 'course_category' type.slug %}">{{ type.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if mode == 'category' %}
                        <div class="products-widget widget">
                            <h2>Courses</h2>
                            <ul class="products-list">
                                {% for random_course in random_course_list %}
                                    <li>
                                        <a href="{% url 'course_detail' random_course.slug %}">
                                            <img src="{{ random_course.image.url }}" alt="{{ random_course.name }}"></a>
                                        <div class="list-content">
                                            <h3>
                                                <a href="{% url 'course_detail' random_course.slug %}">{{ random_course.name }}</a>
                                            </h3>
                                            <span>Rs. {{ random_course.cost }}</span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="ads-widget widget">
                        <a href="https://neofox.in">
                            <img src="{% static 'images/neofox.png' %}" alt="NeoFox Ad">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End courses section -->


    <script>
        let items = document.getElementsByClassName('course-filter');
        let count = items.length;

        function filter_course(word) {
            count = 0;
            for (let i = 0; i < items.length; i++) {
                const item = items[i];
                const item_name = item.getAttribute('name');
                const regexp = new RegExp(word, 'i')
                if (item_name.match(regexp)) {
                    item.style.display = 'flex';
                    count += 1;
                } else {
                    item.style.display = 'none';
                }
                set_len();
            }
        }

        function set_len() {
            let result = "";
            if (count === items.length) {
                result = "Showing All results"
            } else {
                result = `<strong>${count}</strong> &nbsp results`;
            }
            document.getElementById("result-count").innerHTML = result;
        }

        set_len();

        function search(el) {
            filter_course(el.value)
        }
    </script>

{% endblock %}