{% extends 'Parts/BASE.html' %}
{% block body %}

    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>Pricing Packages</h1>
            <ul class="page-depth">
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'course_detail' course.slug %}">{{ course.name }}</a></li>
            </ul>
        </div>
    </section>
    <!-- End page-banner-section -->

    <!-- pricing-section
        ================================================== -->
    <section class="pricing-section">
        <div class="container">
            <div class="pricing-box">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-table">
                            <div class="pricing-head">
                                <h2>Basic</h2>
                                <p>We are just getting started</p>
                                <span>Rs. {{ course.basic_cost }}</span>
                            </div>
                            <div class="pricing-content">
                                <ul class="pricing-list">
                                    {% for detail in course.basic.all %}
                                        <li>{{ detail.name }}</li>
                                    {% endfor %}

                                </ul>
                                <a class="button-one" href="{% url 'course_registration' course.slug 'basic' %}">Select
                                    This</a>

                            </div>
                        </div>
                    </div>
                {% if course.intermediate_cost %}
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-table">
                            <div class="pricing-head">
                                <h2>Intermediate</h2>
                                <p>We are just getting started</p>
                                <span>Rs. {{ course.intermediate_cost }}</span>
                            </div>
                            <div class="pricing-content">
                                <ul class="pricing-list">
                                    {% for detail in course.intermediate.all %}
                                        <li>{{ detail.name }}</li>
                                    {% endfor %}
                                </ul>
                                <a class="button-one" href="{% url 'course_registration' course.slug 'intermediate' %}">Select
                                    This</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if course.expert_cost %}
                    <div class="col-lg-4 col-md-6">
                        <div class="pricing-table">
                            <div class="pricing-head">
                                <h2>Expert</h2>
                                <p>We are just getting started</p>
                                <span>Rs. {{ course.expert_cost }}</span>
                            </div>
                            <div class="pricing-content">
                                <ul class="pricing-list">
                                    {% for detail in course.expert.all %}
                                        <li>{{ detail.name }}</li>
                                    {% endfor %}
                                </ul>
                                <a class="button-one" href="{% url 'course_registration' course.slug 'expert' %}">Select
                                    This</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- End pricing section -->

    <!-- question-section
        ================================================== -->
    <section class="question-section">
        <div class="container">
            <div class="question-box">
                <h3><span>Who is this for?</span></h3>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="block-content">
                            <div class="icon">
                                <i class="fa fa-question-circle"></i>
                            </div>
                            <div class="content">
                                <h2>How do I recommend new content/new suggestions?</h2>
                                <p>At this time you can email us at support@codebean.co with the subject line
                                    “Content Suggestion”. We review all emails and make note each month of what our
                                    students are wanting to see. This helps shape our decisions about content and
                                    features in the near future!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="block-content">
                            <div class="icon">
                                <i class="fa fa-question-circle"></i>
                            </div>
                            <div class="content">
                                <h2>Can I download project files for a course?</h2>
                                <p>Yes, you can download individual lesson videos for any course that you have
                                    purchased, or for any course in our library if you are subscribed to the Yearly
                                    or Yearly Pro plans. Subscribers to Envato Elements or the Monthly plan are not
                                    able to download videos. Fair use policies also apply.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End question section -->

{% endblock %}