{% extends 'Parts/BASE.html' %}
{% load static %}


{% block body %}
    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>{{ teacher.name }}</h1>
            <ul class="page-depth">
                <li><a href="{% url 'homepage' %}">Studiare</a></li>
                <li><a href="{% url 'teacher_list' %}">Teachers</a></li>
                <li><a href="{% url 'teacher_detail' teacher.slug 'show' %}">{{ teacher.name }}</a></li>
            </ul>
        </div>
    </section>
    <!-- End page-banner-section -->

    <!-- teachers-section
        ================================================== -->
    <section class="teachers-section">
        <div class="container">
            <div class="teachers-box">

                <div class="row">
                    <div class="col-lg-6">
                        <div class="profile-image">
                            <div class="image-holder">
                                <img style="width: auto; height: 500px" src="{{ teacher.photo.url }}"
                                     alt="{{ teacher.name }} photo">
                            </div>

                            <ul class="social-links">
                                <li><a href="{{ teacher.facebook }}" class="facebook"><i
                                        class="fa fa-facebook-f"></i></a></li>
                                <li><a href="{{ teacher.twitter }}" class="twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href="{{ teacher.instagram }}" class="google"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li><a href="{{ teacher.linkedin }}" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profile-details">
                            <h1>My Education</h1>
                            <p>{{ teacher.education|linebreaks }}</p>

                            <div class="line-details">
                                <div class="detail-item">
                                    <div class="icon-holder">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                    <div class="detail-content">
                                        <h2>Postal Address:</h2>
                                        <span>{{ teacher.address }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="line-details">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="detail-item">
                                            <div class="icon-holder">
                                                <i class="fa fa-external-link"></i>
                                            </div>
                                            <div class="detail-content">
                                                <h2>Website:</h2>
                                                <a href="{{ teacher.link }}">{{ teacher.link }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="detail-item">
                                            <div class="icon-holder">
                                                <i class="fa fa-envelope-o"></i>
                                            </div>
                                            <div class="detail-content">
                                                <h2>Email:</h2>
                                                <a href="#">{{ teacher.email }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="line-details">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="detail-item">
                                            <div class="icon-holder">
                                                <i class="fa fa-facebook"></i>
                                            </div>
                                            <div class="detail-content">
                                                <h2>Facebook :</h2>
                                                <span>{{ teacher.facebook }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="detail-item">
                                            <div class="icon-holder">
                                                <i class="fa fa-mobile"></i>
                                            </div>
                                            <div class="detail-content">
                                                <h2>Phone:</h2>
                                                <span>{{ teacher.phone }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="teacher-content">
                    <h1>Mission &amp; Biography</h1>
                    <p>{{ teacher.biography }}</p>
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="skills-box">
                                <h1>Skills</h1>
                                {% for skill in teacher.skills %}
                                    <div class="skill-line">
                                        <span class="fill-text">{{ skill.name }} {{ skill.points }}%</span>
                                        <span class="fill-box" style="width: {{ skill.points }}%"></span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if done != 'done' %}
                            <div class="col-lg-5">
                                <form method="post" class="contact-form"
                                      href="{% url 'teacher_detail' teacher.slug 'done' %}">
                                    {% csrf_token %}
                                    <h1>Send a message</h1>
                                    {{ form }}
                                    <button type="submit">Submit Message</button>
                                </form>
                            </div>
                        {% else %}
                            <div class="col-lg-5">
                                <div class="container">
                                    <div class="icon-holder">
                                        <h1 style="color: lawngreen"><i class="fa fa-check">Message Sent</i></h1>
                                    </div>

                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End teachers section -->


{% endblock %}