{% extends 'Parts/BASE.html' %}
{% load static %}


{% block body %}

    <!-- page-banner-section
        ================================================== -->
    <section class="page-banner-section">
        <div class="container">
            <h1>Teachers</h1>
            <ul class="page-depth">
                <li><a href="Index.html">Studiare</a></li>
                <li><a href="{% url 'teacher_list' %}">Teachers</a></li>
            </ul>
        </div>
    </section>
    <!-- End page-banner-section -->

    <!-- teachers-section
        ================================================== -->
    <section class="teachers-section">
        <div class="container">
            <div class="teachers-box">
                {% for batch in teachers %}
                    <div class="row">
                        {% for teacher in batch %}
                            <div class="col-lg-3 col-md-6">
                                <div class="teacher-post">
                                    <a href="{% url 'teacher_detail' teacher.slug '' %}">
                                        <img src="{{ teacher.photo.url }}" alt="Teacher Image">
                                        <div class="hover-post">
                                            <h2>{{ teacher.name }}</h2>
                                            <span>{{ teacher.subject }}</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End teachers section -->

{% endblock %}