{% extends 'Parts/BASE.html' %}
{% block body %}
    <div class="container">
        <div class="row" style="margin-top: 30px">
            <div class="col col-md">
                <h1 class="center-block">Thank-you :) Your For You Time</h1>
                <br>
                <br>
                <h1>{{ quote.sanskrit }}</h1>
                <br>
                <br>
                <h1>{{ quote.english }}</h1>
            </div>
        </div>
    </div>
    {% include 'Parts/POPULER_COURSES.html' %}
    <!-- End contact section -->

{% endblock %}