{% load static %}
<!doctype html>


<html lang="en">

<head>
    <title>Phi India</title>
    <meta charset="utf-8">
    {% include 'Parts/META.html' %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {#    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,500i,600,700&display=swap"#}
    {#          rel="stylesheet">#}
    <link rel="stylesheet" href="{% static 'css/studiare-assets.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/font-awesome/font-awesome.min.css' %}"
          media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/elegant-icons/style.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/iconfont/material-icons.css' %}" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>

<div id="container">
    {% include 'Parts/HEADER.html' %}

    {% block body %}

    {% endblock %}
</div>

{% include 'Parts/LOCATION.html' %}
{% include 'Parts/FOOTER.html' %}
{% include 'Parts/SCRIPTS.html' %}

</body>
</html>