{% load static %}
<!-- countdown-section
    ================================================== -->
<section class="countdown-section">
    <div class="container">
        <div class="countdown-box">
            <h1>Limited Time: Get My Book For Free!</h1>
            <p>Learn anytime, anywhere. Best Courses. Top Instituion.</p>
            <div class="countdown-item" data-date="2019/12/14">
                <div class="countdown-col">
							<span class="countdown-unit countdown-days">
								<span class="number" id="days"></span>
								<span class="text">days</span>
							</span>
                </div>
                <div class="countdown-col">
							<span class="countdown-unit countdown-hours">
								<span class="number" id="hours"></span>
								<span class="text">hours</span>
							</span>
                </div>
                <div class="countdown-col">
							<span class="countdown-unit countdown-min">
								<span class="number" id="minutes"></span>
								<span class="text">minutes</span>
							</span>
                </div>
                <div class="countdown-col">
							<span class="countdown-unit countdown-sec">
								<span class="number" id="seconds"></span>
								<span class="text">seconds</span>
							</span>
                </div>
            </div>
            <p>We offer professional SEO services that help websites increase their organic search score drastically
                in order to compete for the highest rankings.</p>
            <a class="button-two" href="#">Get my free book</a>
        </div>
    </div>
</section>
<!-- End countdown section -->
