<div id="disqus_thread"></div>
<script>
    let disqus_config = function () {
        this.page.url = "{{ request.get_full_path }}";
        this.page.identifier = "{{ page_id }}";
    };

    (function () {
        let d = document, s = d.createElement('script');
        s.src = 'https://EXAMPLE.disqus.com/embed.js';
        s.setAttribute('data-timestamp', + new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<script id="dsq-count-scr" src="//EXAMPLE.disqus.com/count.js" async></script>