{% load static %}
<!-- feature-section
    ================================================== -->
<section class="feature-section">
    <div class="container">
        <div class="feature-box">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="feature-post">
                        <div class="icon-holder">
                            <i class="fa fa-umbrella"></i>
                        </div>
                        <div class="feature-content">
                            <h2>
                                Online/Offline Learn Courses Management
                            </h2>
                            <p>The beautiful thing about learning is that no one can take it away from you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-post">
                        <div class="icon-holder color2">
                            <i class="fa fa-id-card-o"></i>
                        </div>
                        <div class="feature-content">
                            <h2>
                                Learn from the masters of the field
                            </h2>
                            <p>The best teachers are those who show you where to look but don’t tell you what to
                                see.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature-post">
                        <div class="icon-holder color3">
                            <i class="fa fa-handshake-o"></i>
                        </div>
                        <div class="feature-content">
                            <h2>
                                All kinds Skills For Learners
                            </h2>
                            <p>We provide variety of courses for every kind of student they need.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End feature section -->
