{% load static %}
<!-- footer
    ================================================== -->
<footer>
    <div class="container">

        <div class="up-footer">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget text-widget">
                        <a href="{% url 'homepage' %}" class="footer-logo"> <img
                                src="{% static 'images/Phi_logo.png' %}" alt="Phi Logo" style="max-height: 8rem"></a>
                        <p> The aim of education should be to teach us rather how to think, than what to think</p>
                        <p> — rather to
                            improve our minds, so as to enable us to think for ourselves, than to load the memory with
                            thoughts of other men.</p>
                        <ul>
                            <li>
                                <div class="contact-info-icon">
                                    <i class="material-icons">location_on</i>
                                </div>
                                <div class="contact-info-value">HaldiGathi Road, Pratap Nagar, Jaipur</div>
                            </li>
                            <li>
                                <div class="contact-info-icon">
                                    <i class="material-icons">phone_android</i>
                                </div>
                                <div class="contact-info-value">+91 9549 7494 26</div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget quick-widget">
                        <h2>Quick Links</h2>
                        <ul class="quick-list">
                            <li><a href="{% url 'contact_us' %}">Contact</a></li>
                            <li><a href="{% url 'teacher_list' %}">Teachers</a></li>
                            <li><a href="{% url 'about_us' %}">About Us</a></li>
                            <li><a href="{% url 'course_list' %}">Courses</a></li>
                            {% for course in courses %}
                                <li><a href="{% url 'course_detail' course.slug %}">{{ course.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget subscribe-widget">
                        <h2>Newsletter</h2>
                        <p>Don’t miss anything, sign up now and keep informed about our company.</p>
                        <div class="newsletter-form">
                            <label>
                                <input class="form-control" type="email" name="EMAIL" placeholder="Enter Your E-mail"
                                       required="">
                            </label>
                            <input type="submit" value="Subscribe">
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="footer-copyright copyrights-layout-default">
        <div class="container">
            <div class="copyright-inner">
                <div class="copyright-cell"> &copy; 2020 <span class="highlight"><a
                        style="text-decoration: none;color: white" href="https://neofox.in">NeoFox</a></span>.
                </div>
                <div class="copyright-cell">
                    <ul class="studiare-social-links">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End footer -->