{% load static %}
<!-- home-section
    ================================================== -->

<section id="home-section">
    <div id="rev_slider_202_1_wrapper" class="rev_slider_wrapper" data-alias="concept1"
         style="background-color:#000000;padding:0;">
        <!-- START REVOLUTION SLIDER 5.1.1RC fullscreen mode -->
        <div id="rev_slider_202_1" class="rev_slider" data-version="5.1.1RC">
            <ul>

                {% for slide_obj in slider %}
                    <!-- SLIDE  -->
                    <li data-index="rs-67{{ forloop.counter }}" data-transition="fade" data-slotamount="default"
                        data-easein="default"
                        data-easeout="default" data-masterspeed="default"
                        data-thumb="{{ slide_obj.cover.url }}"
                        data-rotate="0" data-saveperformance="off" data-title="unique" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ slide_obj.cover.url }}" alt="" data-bgposition="center center"
                             data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme"
                             id="slide-672-layer-1"
                             data-x="['left','left','left','left']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']"
                             data-voffset="['130','130','130','130']"
                             data-width="['530','530','430','420']"
                             data-height="330"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="500"
                             data-responsive_offset="on"
                             style="z-index: 5;background-color:rgba(255,255,255,0.88);border-color:rgba(0, 0, 0, 0);">
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption Woo-TitleLarge tp-resizeme"
                             id="slide-672-layer-2"
                             data-x="['left','left','left','left']"
                             data-hoffset="['40','40','40','35']"
                             data-y="['top','top','top','top']"
                             data-voffset="['170','170','170','170']"
                             data-width="450"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="700"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 6; min-width: 370px; max-width: 450px; white-space: normal;text-align:left;">
                            {{ slide_obj.summary }}
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-shape tp-shapewrapper tp-line-shape tp-resizeme"
                             id="slide-672-layer-3"
                             data-x="['left','left','left','left']"
                             data-hoffset="['0','0','0','0']"
                             data-y="['top','top','top','top']"
                             data-voffset="['165','165','165','165']"
                             data-width="['3','3','3','3']"
                             data-height="100"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="700"
                             data-responsive_offset="on"
                             style="z-index: 6;">
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption Woo-Rating tp-resizeme"
                             id="slide-672-layer-4"
                             data-x="['left','left','left','left']"
                             data-hoffset="['40','40','40','35']"
                             data-y="['top','top','top','top']"
                             data-voffset="['286','286','286','286']"
                             data-width="450"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="800"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 8; min-width: 370px; max-width: 450px; white-space: normal; text-align:left;">
                            {{ slide.info }}
                        </div>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption tp-resizeme"
                             id="slide-672-layer-5"
                             data-x="['left','left','left','left']"
                             data-hoffset="['407','407','407','407']"
                             data-y="['top','top','top','top']"
                             data-voffset="['337','337','337','337']"
                             data-width="120"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                             data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                             data-start="1100"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 10; min-width: 100px; max-width: 100px; white-space: normal; text-align:center;">
                            <h2>Rs {{ slide_obj.cost }}</h2>
                            {#                            <img src="{{ slide_obj.image.url }}" alt="{{ slide_obj.name }}">#}
                        </div>

                        <!-- LAYER NR. 6 -->
                        <a class="tp-caption Woo-ProductInfo rev-btn tp-resizeme"
                           href="{% url 'course_detail' slide_obj.slug %}"
                           target="_self"
                           id="slide-672-layer-6"
                           data-x="['left','left','left','left']"
                           data-hoffset="['40','40','40','35']"
                           data-y="['top','top','top','top']"
                           data-voffset="['370','370','370','370']"
                           data-width="none"
                           data-height="none"
                           data-whitespace="nowrap"
                           data-transform_idle="o:1;"
                           data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:200;e:Power1.easeInOut;"
                           data-style_hover="c:rgba(0, 0, 0, 1.00);bg:rgba(221, 221, 221, 1.00);cursor:pointer;"
                           data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeOut;"
                           data-transform_out="x:left;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                           data-start="1100"
                           data-splitin="none"
                           data-splitout="none"
                           data-actions=''
                           data-responsive_offset="on">
                            Learn More
                        </a>

                    </li>
                    <!-- SLIDE  -->
                {% endfor %}
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
</section>

<!-- End home section -->