<!-- contact-info-section
    ================================================== -->
<section class="contact-info-section">
    <div class="container">
        <div class="contact-info-box">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="info-post">
                        <div class="icon">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="info-content">
                            <p>
                                Tel: +91 9549 7494 26 <br>
                                E-Mail: <a href="#">we@neofox.in</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="info-post">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="info-content">
                            <p>
                                HaldiGathi Road, Pratap Nagar, Jaipur <br>
                                India
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="info-post">
                        <div class="icon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="info-content">
                            <p>
                                Our office is open:<br>
                                Mon to Fri from 8am to 6pm
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End contact-info section -->