{% load static %}

<!-- popular-courses-section
    ================================================== -->
<section class="popular-courses-section">
    <div class="container">
        <div class="title-section">
            <div class="left-part">
                <span>Education</span>
                <h1>Popular Courses</h1>
            </div>
            <div class="right-part">
                <a class="button-one" href="{% url 'course_list' %}">View All Courses</a>
            </div>
        </div>
        <div class="popular-courses-box">
            <div class="row">
                {% for course in courses %}
                    <div class="col-lg-3 col-md-6" href="{% url 'course_detail' course.slug %}">
                        <div class="course-post">
                            <div class="course-thumbnail-holder">
                                <a href="{% url 'course_detail' course.slug %}">
                                    <img src="{{ course.image.url }}" alt="{{ course.image.url }}">
                                </a>
                            </div>
                            <div class="course-content-holder">
                                <div class="course-content-main">
                                    <h2 class="course-title">
                                        <a href="{% url 'course_detail' course.slug %}">{{ course.name }}</a>
                                    </h2>
                                    <div class="course-rating-teacher">
                                        <div class="star-rating has-ratings"
                                             title="Rated {{ course.ratings }} out of 5">
												<span style="width:100%">
													<span class="rating">{{ course.ratings }}</span>
													<span class="votes-number">{{ course.ratings_count }} Votes</span>
												</span>
                                        </div>
                                        <a href="{% url 'teacher_detail' course.teacher.slug 'show' %}"
                                           class="course-loop-teacher">{{ course.teacher.name }}</a>
                                    </div>
                                </div>
                                <div class="course-content-bottom">
                                    <div class="course-students">
                                        <i class="material-icons">group</i>
                                        <span>64</span>
                                    </div>
                                    <div class="course-price">
                                        <span>Rs. {{ course.cost }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<!-- End popular-courses section -->
