{% load static %}
<!-- testimonial-section
    ================================================== -->
<section class="testimonial-section">
    <div class="container">
        <div class="testimonial-box owl-wrapper">

            <div class="owl-carousel" data-num="1">

                <div class="item">
                    <div class="testimonial-post">
                        <p> “Design-driven, customized and reliable solution for your token development and
                            management system to automate sales processes.”</p>
                        <div class="profile-test">
                            <div class="avatar-holder">
                                <img src="upload/testimonials/testimonial-avatar-1.jpg" alt="">
                            </div>
                            <div class="profile-data">
                                <h2>Nicole Alatorre</h2>
                                <p>Designer</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial-post">
                        <p> “Design-driven, customized and reliable solution for your token development and
                            management system to automate sales processes.”</p>
                        <div class="profile-test">
                            <div class="avatar-holder">
                                <img src="upload/testimonials/testimonial-avatar-2.jpg" alt="">
                            </div>
                            <div class="profile-data">
                                <h2>Nicole Alatorre</h2>
                                <p>Designer</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial-post">
                        <p> “Design-driven, customized and reliable solution for your token development and
                            management system to automate sales processes.”</p>
                        <div class="profile-test">
                            <div class="avatar-holder">
                                <img src="upload/testimonials/testimonial-avatar-3.jpg" alt="">
                            </div>
                            <div class="profile-data">
                                <h2>Nicole Alatorre</h2>
                                <p>Designer</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial-post">
                        <p> “Design-driven, customized and reliable solution for your token development and
                            management system to automate sales processes.”</p>
                        <div class="profile-test">
                            <div class="avatar-holder">
                                <img src="upload/testimonials/testimonial-avatar-4.jpg" alt="">
                            </div>
                            <div class="profile-data">
                                <h2>Nicole Alatorre</h2>
                                <p>Designer</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End testimonial section -->
